<h1>New Events</h1>


  <% @events.each do |event| %>
  < class = "d-flex px-2">
    <p>
      <%= event.event_name %>
    </p>
    <p>
      <%= event.event_location %>
    </p>
    <p>
      <%= event.event_date %>
    </p>
  </ul>
  <% end %>

<%= link_to "New Events", new_event_path %>