<h1>New Events</h1>

<ul>
  <% @events.each do |event| %>
  <div class = "d-flex p-2">
  <li>
      <%= event.event_name %>
    </li>
    <li>
      <%= event.event_location %>
    </li>
    <li>
      <%= event.event_date %>
    </li>
  </div>
  <% end %>
</ul>
<%= link_to "New Events", new_event_path %>