<h1>Our Events</h1>

<ul>
  <% @events.each do |event| %>
  <div>
  <li>
      <%= event.event_name %>
    </li>
    <li>
      <%= event.event_location %>
    </li>
    <li>
      <%= event.event_date %>
    </li>
  </div>
  <% end %>
</ul>