<h1>List of Events</h1>

<p><%= @event.event_name %></p>

<p> <%= @event.event_location %></p>

<p> <%= @event.event_date %></p>

<%= link_to 'Attend',turnouts_path(turnout: {event_id:@event.id, attendee_id:current_user.id}), method: :post ,class:"btn bg-warning text-dark"%>
